#displayPicture {
  width: 168px;
  height: 169px;
  float: right;
  margin-left: 40px;
  border-radius: 50%;
  margin-top: -20px;
}

iframe {
  width: 100%;
}

@media screen and (max-width: 500px) {
  #displayPicture {
    display: none;
  }
}
